<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Passwords</title>
</head>
<body>
    <h1>Stored Passwords</h1>
    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user, passw in passwords %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ passw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
